#version: '3.8'

services:
  postgres:
    image: postgres:14-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-sai13062006}
      POSTGRES_DB: ${POSTGRES_DB:-dealance}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - "6379:6379"

  api:
    build:
      context: .
      dockerfile: backend/api/Dockerfile.dev
    ports:
      - "3000:3000"
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-sai13062006}@postgres:5432/${POSTGRES_DB:-dealance}
      REDIS_HOST: redis
    volumes:
      - ./backend/api:/usr/src/app
      - /usr/src/app/node_modules
    command: pnpm run start:dev

volumes:
  postgres_data:
